@font-face {
    font-family: snell;
    src: url("../assets/SnellRoundhand.ttc");
}
@font-face {
    font-family: farmhouse;
    src: url("../assets/Farmhouse.ttf");
}

body {
    background-color: antiquewhite;
    font-size: 16px;
}
.heading{
    text-align: center;
    color: black;
    font-size: 10rem;
    font-family: "snell";
    margin: 0;
    line-height: 160px;
    padding-top: 4rem;
}
.header{
    text-align: center;
    color: black;
    font-size: 15rem;
    font-family: "snell";
    margin: 0;
    line-height: 180px;
    padding: 6rem;
    padding-top: 0;
}
.intro{
    color: #55493f;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    width: 70%;
    font-family: "farmhouse";
}