body {
    background-color: antiquewhite;
}
.heading{
    text-align: center;
    color: black;
    font-size: 5rem;
}
.header{
    text-align: center;
    color: black;
    font-size: 7rem;
}
.intro{
    color: #1f110b;
    font-size: 1rem;
}