@font-face {
    font-family: snell;
    src: url("../assets/SnellRoundhand.ttc");
}
@font-face {
    font-family: farmhouse;
    src: url("../assets/Farmhouse.ttf");
}

body {
    background-color: #5e0105;
    font-size: 16px;
}
.stamp-border {
  /* Change this value to adjust the stamp perforation size: */
  --radius: 12px;

  background-image: 
    radial-gradient(
      var(--radius),
      transparent 98%,
      antiquewhite
    ),
    linear-gradient(antiquewhite 0 0);
  background-repeat: 
    round, 
    no-repeat;
  background-position:
    calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
    50%;
  background-size:
    calc(var(--radius) * 3) calc(var(--radius) * 3),
    calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
}
.stamp-border {
  width: 60%;
  height: max(fit-content, 50%);
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 1rem;
}
.heading{
    text-align: center;
    color: black;
    font-size: 7rem;
    font-family: "snell";
    margin: 0;
    line-height: 160px;
    padding-top: 4rem;
}
.header{
    text-align: center;
    color: black;
    font-size: 10rem;
    font-family: "snell";
    margin: 0;
    line-height: 180px;
    padding: 6rem;
    padding-top: 0;
}
.intro{
    color: #55493f;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    width: 70%;
    font-family: "farmhouse";
}